$c0: transparent;
$c1: #FFF;
$c2: #000;
$c3: #ff8600;
$c4: #F00;
$c5: #808080;

.container {
  flex-direction: column;
  padding: 50px 0;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;

  h1 {
    border-bottom: 1px solid $c2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .productos {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr 90px;
    grid-template-areas: "title button"
                         "desc  desc";

    h3 {
      grid-area: title;
      margin-bottom: 5px;

      &.medium { color: $c3 }
      &.low { color: $c4 }
    }

    .btn_buy {
      box-sizing: border-box;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: lighten($c5, 35%);
      border: 2px solid $c5;
      padding: 5px 10px;
      cursor: pointer;
      grid-area: button;
      width: auto;
      height: 29px;

      &.hide { display: none; }
    }

    .description {
      grid-area: desc;

      &.hide { display: none; }
    }
  }
}
