<div class="container">
    <h1>Productos comprados ({{products.length}})</h1>
    <h2>Listado de productos</h2>

    <div class="productos" *ngFor="let product of products">
        <h3 [ngClass]="{'medium': product.cant > 0 && product.cant <= 5, 'low': product.cant == 0}">{{ product.name | quantity:product.cant }}</h3>
        <button class="btn_buy" (click)="decrement(product)" [ngClass]="{'hide': product.cant == 0}">comprar</button>
        <p class="description" [ngClass]="{'hide': product.description == ''}">Descripción: {{ product.description }}</p>
    </div>
</div>
